<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <!-- Material Icons -->
    <link rel="stylesheet" href="/static/css/material-icons.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <!-- Favicon --> 
    <link rel="icon" href="/static/icons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/static/icons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/static/icons/favicon-48x48.png" sizes="48x48" type="image/png">
    <link rel="icon" href="/static/icons/favicon.ico" type="image/x-icon">  
</head>
<body class="flex-wrapper">
    {{ template "navbar.html" . }}
    <main class="container">
        {{ block "content" . }}<h1>Content not found</h1>{{ end }}
    </main>
    {{ template "footer.html" . }}
    <!-- jQuery -->
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <!-- Materialize JS -->
    <script src="/static/js/materialize.min.js"></script>
    <!-- Your own JavaScript -->
    <script src="/static/js/scripts.js"></script>
    <!-- Подключение библиотеки clipboard.js -->
    <script src="/static/js/clipboard.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.body.style.display = 'block';
        });
    </script>
</body>
</html>
