{{ define "content" }}
<div class="container-fluid">
    <!-- Breadcrumbs -->
    <nav class="breadcrumb-nav">
        <div class="nav-wrapper">
            <div class="col s12">
                {{ $pathParts := splitPath .Path }}
                {{ $fullPath := "" }}
                <a href="/" class="breadcrumb">Home</a>
                {{ range $index, $element := $pathParts }}
                    {{ if $element }}
                        {{ $fullPath = joinPath $fullPath $element }}
                        <a href="{{ $fullPath }}/" class="breadcrumb">{{ $element }}</a>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </nav>

    <!-- Buttons -->
    <div style="margin-top: 20px;">
        <a href="#" class="waves-effect waves-light btn tooltipped" id="uploadFilesButton" data-tooltip="Upload Files">
            Upload Files
        </a>
        <a href="#" class="waves-effect waves-light btn tooltipped" id="createFolderButton" data-tooltip="Create Folder">
            Create Folder
        </a>
        <a href="#" class="waves-effect waves-light btn tooltipped disabled" id="renameButton" data-tooltip="Rename Selected Item">
            Rename
        </a>
        <a href="#" class="waves-effect waves-light btn tooltipped disabled" id="moveButton" data-tooltip="Move Selected Item">
            Move
        </a>
        <button type="button" class="btn red tooltipped disabled" id="deleteButton" data-tooltip="Delete Selected Items" data-target="deleteConfirmModal" data-toggle="modal">
            Delete
        </button>
    </div>

    <!-- File table -->
    <form id="fileForm" method="post" style="margin-bottom: 100px;">
        <input type="hidden" name="currentPath" value="{{.Path}}">
        <table id="fileTable" class="striped">
            <thead>
                <tr>
                    <th class="checkbox-column resizable">
                        <label>
                            <input type="checkbox" id="selectAll">
                            <span></span>
                        </label>
                        <div class="resize-handle"></div>
                    </th>
                    <th class="icon-column resizable">
                        <div class="resize-handle"></div>
                    </th>
                    <th class="resizable">Name
                        <div class="resize-handle"></div>
                    </th>
                    <th class="resizable">RDS
                        <div class="resize-handle"></div>
                    </th>
                    <th class="resizable">Size
                        <div class="resize-handle"></div>
                    </th>
                    <th class="resizable">Type
                        <div class="resize-handle"></div>
                    </th>
                    <th class="resizable">Last Modified
                        <div class="resize-handle"></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {{if ne .Path "/"}}
                <tr>
                    <td></td>
                    <td class="icon-column">
                        <i class="material-icons">folder</i>
                    </td>
                    <td>
                        <a href="{{.ParentDir}}">..</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td>Folder</td>
                    <td></td>
                </tr>
                {{end}}
                {{range .Files}}
                {{if not (hasSuffix .Name ".meta")}}
                <tr>
                    <td class="checkbox-column">
                        <label>
                            <input type="checkbox" name="items" value="{{$.Path}}{{.Name}}" class="item-checkbox" data-type="{{if .IsDir}}dir{{else}}file{{end}}">
                            <span></span>
                        </label>
                    </td>
                    <td class="icon-column">
                        {{if .IsDir}}
                            <i class="material-icons">folder</i>
                        {{else}}
                            {{ $icon := getFileIcon .Name }}
                            <i class="material-icons">{{ $icon }}</i>
                        {{end}}
                    </td>
                    <td>
                        {{if .IsDir}}
                        <a href="{{$.Path}}{{.Name}}/">{{.Name}}/</a>
                        {{else}}
                        <a href="{{$.Path}}{{.Name}}" class="file-link" data-file="{{$.Path}}{{.Name}}" download>{{.Name}}</a>
                        <i class="material-icons file-info-icon" data-file="{{$.Path}}{{.Name}}">info</i>
                        {{end}}
                    </td>
                    <td class="rds-status">
                        {{ if and (not .IsDir) (not (or (hasSuffix (lower .Name) ".md") (hasSuffix (lower .Name) ".html") (hasSuffix (lower .Name) ".txt"))) }}
                            {{ with $rdsStatus := index $.RDSStatuses .Name }}
                                {{ if eq $rdsStatus "match" }}
                                    <i class="material-icons green-text">check_circle</i>
                                {{ else if eq $rdsStatus "mismatch" }}
                                    <i class="material-icons red-text">cancel</i>
                                {{ else }}
                                    <i class="material-icons grey-text">help_outline</i>
                                {{ end }}
                            {{ end }}
                        {{ else }}
                            <!-- Transparent icon for folders and specified file types -->
                            <i class="material-icons" style="visibility: hidden;">help_outline</i>
                        {{ end }}
                    </td>
                    <td>
                        {{if not .IsDir}}
                            {{ readableSize (getFileInfo $.FullPath .Name) }}
                        {{end}}
                    </td>
                    <td>{{if .IsDir}}Folder{{else}}File{{end}}</td>
                    <td class="mod-time">
                        {{ with $modTime := index $.ModTimes .Name }}
                            {{ $modTime.Format "2006-01-02 15:04:05" }}
                        {{ end }}
                    </td>
                </tr>
                {{end}}
                {{end}}
            </tbody>
        </table>
        <button type="submit" id="downloadButton" class="btn green disabled">Download Selected Files</button>
    </form>

    <!-- Drawer для метаданных файла -->
    <div id="fileMetadataDrawer" class="drawer drawer-right" style="width: 400px;">
        <div class="drawer-header">
            <h5>File Metadata</h5>
            <div class="switch">
                <label>
                    View
                    <input type="checkbox" id="editModeSwitch">
                    <span class="lever"></span>
                    Edit
                </label>
            </div>
            <button id="refreshMetadataButton" class="btn-floating btn-small waves-effect waves-light blue">
                <i class="material-icons">refresh</i>
            </button>
        </div>
        <div class="drawer-body">
            <div id="fileMetadataContent">
                <!-- Содержимое метаданных будет динамически добавлено сюда -->
            </div>
            <div id="metadataEditForm" style="display: none;">
                <!-- Другие метаданные -->
                <div class="metadata-field">
                    <label for="version">Version:</label>
                    <input type="text" id="version" class="metadata-input">
                </div>
            
                <!-- RDS Block -->
                <div class="rds-block">
                    <h6>RDS Information</h6>
                    <div class="metadata-field">
                        <label for="rdsNumber">RDS Number:</label>
                        <input type="text" id="rdsNumber" class="metadata-input">
                    </div>
                    <div class="metadata-field">
                        <label for="rdsCRC32">RDS CRC32:</label>
                        <input type="text" id="rdsCRC32" class="metadata-input">
                    </div>
                    <div class="metadata-field">
                        <label for="rdsSHA1">RDS SHA1:</label>
                        <input type="text" id="rdsSHA1" class="metadata-input">
                    </div>
                    <div class="metadata-field">
                        <label for="rdsSHA256">RDS SHA256:</label>
                        <input type="text" id="rdsSHA256" class="metadata-input">
                    </div>
                    <div class="metadata-field">
                        <label for="rdsCRC64">RDS CRC64:</label>
                        <input type="text" id="rdsCRC64" class="metadata-input">
                    </div>
                    <div class="metadata-field">
                        <label for="rdsBLAKE2sp">RDS BLAKE2sp:</label>
                        <input type="text" id="rdsBLAKE2sp" class="metadata-input">
                    </div>
                </div>
            
                <!-- Кнопки -->
                <button type="button" class="btn blue" id="saveMetadataButton">Save</button>
                <button type="button" class="btn red" id="cancelMetadataButton">Cancel</button>
            </div>
        </div>
    </div>

    <!-- Modal for confirming drawer close -->
    <div id="confirmCloseDrawerModal" class="modal">
        <div class="modal-content">
            <h4>Unsaved Changes</h4>
            <p>You have unsaved changes. Are you sure you want to close?</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <button type="button" class="btn red" id="confirmCloseDrawerButton">Close</button>
        </div>
    </div>

    <!-- Readme Content -->
    {{ if .ReadmeHTML }}
    <div class="readme-content" style="margin-top: 40px;">
        {{ .ReadmeHTML }}
        <button class="btn blue" id="editReadmeButton">Edit README</button>
    </div>
    {{ end }}

    <!-- Edit README Modal -->
    <div id="editReadmeModal" class="modal">
        <div class="modal-content" style="overflow-y: auto; max-height: calc(100vh - 150px); resize: both;">
            <h5>Edit README.md</h5>
            <button id="toggleFullscreenButton" class="btn-floating btn-small waves-effect waves-light blue" style="position: absolute; top: 10px; right: 10px;">
                <i class="material-icons">fullscreen</i>
            </button>
            <div id="editMode">
                <textarea id="readmeEditor" class="materialize-textarea">{{ .ReadmeContent }}</textarea>
            </div>
            <div id="previewMode" style="display: none;">
                <div id="readmePreview"></div>
            </div>
        </div>
        <div class="modal-footer" style="position: sticky; bottom: 0; background: white;">
            <button class="btn blue" id="previewReadmeButton" style="position: absolute; left: 20px;">Preview</button>
            <button class="btn blue" id="editReadmeButtonFromPreview" style="display: none; position: absolute; left: 20px;">Edit</button>
            <button class="modal-close btn red" id="cancelReadmeButton">Cancel</button>
            <button class="btn blue" id="saveReadmeButton">Save</button>
        </div>
    </div>

    <!-- Upload Modal -->
    <div id="uploadModal" class="modal">
        <div class="modal-content">
            <h5>Upload Files</h5>
            <form method="post" enctype="multipart/form-data" action="/upload" id="uploadForm">
                <input type="hidden" name="currentPath" value="{{.Path}}">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Select Files</span>
                        <input type="file" name="uploadFiles" id="uploadFiles" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Select files">
                    </div>
                </div>
                <!-- Version fields -->
                <p>
                    <label>
                        <input type="checkbox" id="sameVersionCheckbox" name="sameVersion" value="true" checked>
                        <span>Use the same version for all files</span>
                    </label>
                </p>
                <div id="singleVersionField">
                    <div class="input-field">
                        <input type="text" name="fileVersion" id="fileVersion">
                        <label for="fileVersion">Version</label>
                    </div>
                </div>
                <div id="perFileVersionFields" style="display: none;">
                    <!-- Per-file version input fields will be generated here -->
                </div>
                <button type="submit" class="btn blue">Upload</button>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
    </div>

    <!-- Create Folder Modal -->
    <div id="createFolderModal" class="modal">
        <div class="modal-content">
            <h5>Create New Folder</h5>
            <form method="post" action="/create-folder">
                <input type="hidden" name="currentPath" value="{{.Path}}">
                <div class="input-field">
                    <input type="text" name="folderName" id="folderName" required>
                    <label for="folderName">Folder Name</label>
                </div>
                <button type="submit" class="modal-close btn blue">Create</button>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
    </div>

    <!-- Rename Modal -->
    <div id="renameModal" class="modal">
        <div class="modal-content">
            <h5>Rename Item</h5>
            <form method="post" action="/rename">
                <input type="hidden" name="oldPath" id="renameOldPath">
                <div class="input-field">
                    <input type="text" name="newName" id="newName" required>
                    <label for="newName" id="newNameLabel">New Name</label>
                </div>
                <button type="submit" class="modal-close btn blue">Rename</button>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
    </div>

    <!-- Move Modal -->
    <div id="moveModal" class="modal">
        <div class="modal-content">
            <h5>Move Items</h5>
            <form method="post" action="/move">
                <!-- Hidden field for item list -->
                <input type="hidden" name="itemPaths" id="moveItemPaths">
                <input type="hidden" name="destinationPath" id="selectedDestinationPath">
                <!-- Display list of selected items -->
                <div id="selectedItemsList">
                    <!-- List will be dynamically added here -->
                </div>
                <!-- Breadcrumbs -->
                <nav class="breadcrumb-nav">
                    <div class="nav-wrapper">
                        <div class="col s12" id="moveBreadcrumbs">
                            <!-- Breadcrumbs will be dynamically added here -->
                        </div>
                    </div>
                </nav>
                <!-- Folder List -->
                <ul class="folder-list collection" id="folderList">
                    <!-- Folder list will be dynamically added here -->
                </ul>
    
                <button type="submit" class="btn blue" id="confirmMoveButton" disabled>Move Here</button>
            </form>
            <p>Select the destination folder to move the selected items.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
    </div>        

    <!-- Delete Confirmation Modal -->
    <div id="deleteConfirmModal" class="modal">
        <div class="modal-content">
            <h4>Confirm Deletion</h4>
            <p>Are you sure you want to delete the following items?</p>
            <ul id="deleteItemsList">
                <!-- List of items to be deleted will be dynamically added here -->
            </ul>
            <input type="hidden" id="deleteCurrentPath" name="currentPath" value="{{.Path}}">
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <button type="button" class="btn red" id="confirmDeleteButton">Delete</button>
        </div>
    </div>

</div>

<!-- Подключение библиотеки clipboard.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
<script>
document.getElementById('previewReadmeButton').addEventListener('click', function() {
    document.getElementById('editMode').style.display = 'none';
    document.getElementById('previewMode').style.display = 'block';
    document.getElementById('previewReadmeButton').style.display = 'none';
    document.getElementById('editReadmeButtonFromPreview').style.display = 'inline-block';
});

document.getElementById('editReadmeButtonFromPreview').addEventListener('click', function() {
    document.getElementById('editMode').style.display = 'block';
    document.getElementById('previewMode').style.display = 'none';
    document.getElementById('previewReadmeButton').style.display = 'inline-block';
    document.getElementById('editReadmeButtonFromPreview').style.display = 'none';
});

document.getElementById('toggleFullscreenButton').addEventListener('click', function() {
    const modal = document.getElementById('editReadmeModal');
    const modalContent = modal.querySelector('.modal-content');
    if (modal.classList.contains('fullscreen')) {
        modal.classList.remove('fullscreen');
        modalContent.classList.remove('fullscreen');
        this.innerHTML = '<i class="material-icons">fullscreen</i>';
    } else {
        modal.classList.add('fullscreen');
        modalContent.classList.add('fullscreen');
        this.innerHTML = '<i class="material-icons">fullscreen_exit</i>';
    }
});
</script>
{{ end }}
