<!-- templates/navbar.html -->
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">fileStation</a>
        <!-- Buttons on the right side of the navigation -->
        <ul id="nav-mobile" class="right">
            <li>
                <a href="#" id="themeToggle" data-tooltip="Toggle Theme" class="tooltipped">
                    <i class="material-icons">brightness_6</i>
                </a>
            </li>
            {{if .IsLoggedIn}}
            <li>
                <a href="/logout" data-tooltip="Logout" class="tooltipped">
                    <i class="material-icons">exit_to_app</i>
                </a>
            </li>
            {{else}}
            <li>
                <a href="#" data-tooltip="Login" class="tooltipped modal-trigger" data-target="loginModal">
                    <i class="material-icons">login</i>
                </a>
            </li>
            {{end}}
        </ul>            
    </div>
</nav>

<!-- Login Modal Structure -->
<div id="loginModal" class="modal">
    <div class="modal-content">
        <h4>Login</h4>
        <div id="loginError" class="card-panel red lighten-2" style="display: none;"></div>
        <form id="loginForm">
            <div class="input-field">
                <input type="text" name="username" id="username" required>
                <label for="username">Username</label>
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password" required>
                <label for="password">Password</label>
            </div>
            <button type="submit" class="btn waves-effect waves-light">Login</button>
        </form>
    </div>
</div>
